* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(90, 81, 81);

  /* width:100%; */
  width: 97%;
  height: 45px;
  background-color: black;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
  /* border: 2px solid red; */

}

.nav-left span {
  left:8%;
  margin-right: 20px;
  cursor: pointer;
}

.nav-left span:hover {
  color: #5e5858;
}

.nav-right {
  /* border:2px solid rgb(192, 255, 194); */
  display: flex;
  align-items: center;

}

.search-bar {
  border: 2px solid rgb(57, 55, 55);
  padding: 5px 10px;
  border-radius: 4px;
  /* border: none; */
  margin-right: 15px;
}


.profile-icon {
  /* border: 2px solid rgb(49, 0, 128); */
  width: 32px;
  height: 32px;
  /* border-radius: 50%;*/
  object-fit: cover;
  cursor: pointer;
}

.profile-icon img {
  width: 32px;
  height: 32px;
  border-radius: 15px;
}

.dropdown-menu {
  position: absolute;
  margin-left: -90px;
  top: 60px;
  /* background-color: rgb(41, 40, 40); */
  color: rgb(237, 234, 234);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(113, 111, 111, 0.2);
  width: 120px;
  text-align: left;

}

.dropdown-menu p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu p:hover {
  background-color: #3e3b3b;
}


/* For tablets and smaller screens */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }
  .nav-left span {
    font-size: 0.9rem;
    margin-right: 12px;
  }

  .nav-left,
  .nav-right {
    width: 100%;
    margin: 5px 0;
    justify-content: space-between;
    display: flex;
  }

  .search-bar {
    width: 100%;
    margin: 10px 0;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .navbar {
    padding: 10px 5px;
  }

  /* .nav-left span {
    font-size: 14px;
    margin-right: 10px;
  } */
.nav-left span {
    font-size: 0.8rem;
    margin-right: 8px;
  }
  .search-bar {
    font-size: 14px;
    padding: 4px 8px;
  }

  .profile-icon img {
    width: 28px;
    height: 28px;
  }

  .dropdown-menu {
    width: 100px;
    top: 50px;
    left: auto;
    right: 10px;
    margin-left: 0;
  }
}