.Overview-container {
    /* border: 2px solid red; */
    border-radius: 10px;
    border: 1px solid rgb(90, 81, 81);
    margin-top: 35px;
    margin-left: 35px;
    height: 450px;
    width: 55%;
}

.Overview-container h1 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.Overview-container p {
    color: white;
    margin-left: 20px;

}