.add-product-container {
  padding: 20px;
  /* border:2px solid red; */
}

.add-product-header {
  display: flex;
  gap: 10px;
}

.add-product-container h2 {
  color: white;
}

.back-btn {
  /* background-color: #ddd; */
  border: 1px solid rgb(90, 81, 81);
  margin-left: 20px;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.tab-buttons {
  /* border:2px solid blue; */
  background-color: rgb(47, 47, 47);
  border-radius: 5px;
  width: 350px;
  height: 45px;
  display: flex;
  gap: 10px;
  margin: 20px 0;
  margin-left: 20px;
}

.tab-buttons button {
  margin-top: 5px;
  margin-left: 8px;
  height: 35px;
  padding: 10px 20px;
  /* border: 1px solid #6f0c0c; */
  background-color: rgb(47, 47, 47);
  color: white;
  cursor: pointer;
}

.tab-buttons .active {
  background-color: #090a0a;
  color: white;
  border-color: none;
  border: none;
}

.tab-content {
  padding: 20px;
  /* background: #511a9e; */
  border: none;
  color: white;
}

.product-details-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
    /* border: 1px solid rgb(90, 81, 81); */

}

.product-details-form label {
  font-weight: 500;
  margin-top: 10px;
}

.product-details-form input,
.product-details-form textarea,
.product-details-form select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
}

.product-details-form textarea {
  resize: vertical;
  min-height: 80px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn,
.next-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
}

.cancel-btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(90, 81, 81);
  transition: background-color 0.3s ease;

}

.cancel-btn:hover {
  background-color: #373535;

}

.next-btn {
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;

}

.next-btn:hover {
  background-color:  #373535;
  color: white;
}

.category-subcategory-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.category-subcategory-row .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-subcategory-row .form-group select {
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ---------------------------image div code css-------------------------- */

.image-upload-form {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  margin-top: 20px;
}

.image-upload-form {
  margin-top: 1px;
  border: 1px solid rgb(90, 81, 81);
}

.image-upload {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 50px;
  border: 2px dashed rgb(90, 81, 81);
  border-radius: 10px;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 1300px;
  min-height: 100px;
  transition: background-color 0.3s ease;

}

.image-upload:hover {
  background-color: #201f1f;
}

.upload-icon {
  color: white;
  margin-bottom: 10px;

}

.image-upload p {
  margin: 4px 0;
  color: white;
  font-size: 14px;
}

.image-hint {
  font-size: 14px;
  color: white;
}

.image-preview {
  margin-top: 15px;
  max-width: 100%;
  max-height: 200px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.add-image-btn {
  height: 45px;
  width: 20vh;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: 1px solid rgb(90, 81, 81);
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.add-image-btn:hover {
  background-color:  #373535;
}

/* --------------------Varient css----------------------- */

.varient-details-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  border: 1px solid rgb(90, 81, 81);
  height:auto;  
}
.varient-details-form h2{
margin-left: 20px;
margin-top: 20px;
}
.varient-details-form p{
margin-left: 20px;
}
.varient-details-form .stock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stock label{
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
}
.stock input{
  width:45.5%; 
  margin-left: 20px;

}
.varient-details-form .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  gap: 10px;
}
.description label{
  font-weight: 500;
  margin-top: 10px;
    margin-left: 20px;

}
.description textarea{
  width:98%; 
  margin-left: 20px;
  border: 1px solid rgb(90, 81, 81);
   background-color: black;
   height: 150px;

}
.varient-details-form label {
  font-weight: 500;
  margin-top: 10px;
}

.varient-details-form input,
.varient-details-form textarea
 {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  /* margin-left: 20px; */

  
}
.title-discription{
   display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.title-discription .varient-form-group1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
gap: 10px;
}
.varient-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.varient-row .varient-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;

}
.varient-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.varient-cancel-btn,
.varient-next-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.varient-cancel-btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(90, 81, 81);
  transition: background-color 0.3s ease;

}

.varient-cancel-btn:hover {
  background-color: #373535;

}

.varient-next-btn {
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-bottom: 20px;
}

.varient-next-btn:hover {
  background-color:  #373535;
  color: white;
}

.image-upload1 {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 50px;
  border: 2px dashed rgb(90, 81, 81);
  border-radius: 10px;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  transition: background-color 0.3s ease;

}
